

/* RESET */
*{margin:0;padding:0;box-sizing:border-box;}
body{
    display:flex;
    font-family:sans-serif;
    background:#0f172a;
    color:white;
}

/* SIDEBAR */
.sidebar{
    width:85px;
    height:100vh;
    background:#020617;
    padding:20px 10px;
    transition:.3s;
    display:flex;
    flex-direction:column;
}

.sidebar:hover{width:260px;}

/* LOGO */
.logo{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:20px;
}
.logo h2{opacity:0;transition:.3s;}
.sidebar:hover .logo h2{opacity:1;}

/* USER */
.user-panel{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:30px;
}
.avatar{
    width:45px;height:45px;
    border-radius:50%;
    background:#38bdf8;
    display:flex;
    justify-content:center;
    align-items:center;
}
.user-data{opacity:0;transition:.3s;}
.sidebar:hover .user-data{opacity:1;}

/* MENU */
.menu{display:flex;flex-direction:column;gap:10px;}
.menu-title{
    font-size:12px;
    opacity:.5;
    margin-top:15px;
    display:none;
}
.sidebar:hover .menu-title{display:block;}

.menu a{
    display:flex;
    align-items:center;
    gap:15px;
    padding:10px;
    border-radius:10px;
    color:white;
    text-decoration:none;
    transition:.2s;
}
.menu a span:last-child{
    opacity:0;
    transition:.3s;
}
.sidebar:hover .menu a span:last-child{opacity:1;}

.menu a:hover{background:#1e293b;}
.menu a.active{
    background:#38bdf8;
    color:black;
}

.logout{
    margin-top:auto;
    background:#ef4444;
}
.logout:hover{background:#dc2626;}

/* MAIN */
.main{
    flex:1;
    padding:20px;
}

/* GRID */
.materias{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

/* CARD */
.card{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    transition:.3s;
}
.card:hover{transform:translateY(-5px);}

.card h3{color:#38bdf8;}
.card p{opacity:.7;}

.btn{
    display:inline-block;
    margin-top:10px;
    padding:6px 12px;
    background:#38bdf8;
    color:black;
    border-radius:8px;
    text-decoration:none;
}

/* BOTON + */
.btn-add{
    position:fixed;
    bottom:20px;
    right:20px;
    width:60px;
    height:60px;
    border-radius:50%;
    border:none;
    font-size:30px;
    background:#38bdf8;
    cursor:pointer;
}

/* MODAL */
.modal{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.6);
    display:none;
    justify-content:center;
    align-items:center;
}

.modal-content{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    width:300px;
}

.modal input, .modal button{
    width:100%;
    margin:10px 0;
    padding:10px;
    border:none;
    border-radius:8px;
}
